<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome to User's Page</h1><br>
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'add_api' %}" class="btn btn-primary btn-block">Add API</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'update_api' %}" class="btn btn-primary btn-block">Update API</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'view_api' %}" class="btn btn-primary btn-block">View API</a>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS (optional, only if you need to use Bootstrap's JavaScript-based features) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


