<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewer</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome to Viewer's Page</h1><br>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'view_api' %}">View API</a></li>
        </ul>
    </div>

    <!-- Add Bootstrap JS (optional, only if you need to use Bootstrap's JavaScript-based features) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
